.all-instructors-page-container{
    padding-top: 70px;
    min-height: 80%;
    .chakra-input__group{
        .chakra-input__right-element{
            height: 32px;
        }
    }
    .instructors-list{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .load-more-instructor-button{
        .chakra-button{
            background-color: #457b9d;
            color: #fff;
        }
    }
}

@media screen and (max-width: 576px){
    .all-instructors-page-container{
        .instructors-list{
            & > *{
                width: 100%;
            }
        }
    }
}

@media screen and (min-width: 576px) and (max-width: 768px){
    .all-instructors-page-container{
        .instructors-list{
            & > *{
                width: 100%;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 992px){
    .all-instructors-page-container{
        .title{
            font-size: 22px;
        }
        .instructors-list{
            & > *{
                width: 48%;
            }
        }
    }
}

@media screen and (min-width: 992px){
    .all-instructors-page-container{
        .instructors-list{
            & > *{
                width: 48%;
            }
        }
        .teacher-card{
            .image-container{
                img{
                    height: 220px;
                }
            }
        }
    }
}