.teacher-card{
    margin-bottom: 14px;
    transition: all .5s;
    .image-container{
        position: relative;
        transition: all .5s;
        overflow: hidden;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        img{
            width: 100%;
            object-fit: cover;
            transition: all .5s;
        }
        .rate{
            position: absolute;
            bottom: 0;
            top: auto;
            width: 100%;
            background: rgba(0, 0, 0, .5);
            padding-bottom: 2px;
        }
    }
    .text-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        a{
            margin: 6px 0 2px 0;
            font-weight: 500;
            text-decoration: none;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        small{
            font-weight: 500;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    &:hover{
        cursor: pointer;
        .image-container{
            overflow: hidden;
            img{
                transform: scale(1.05);
            }
        }
    }
}

@media screen and (max-width: 380px){
    .teacher-card{
        .image-container{
            img{
                width: 158px;
                height: 180px;
            }
        }
    }
}

@media screen and (min-width: 380px) and (max-width: 576px){
    .teacher-card{
        .image-container{
            img{
                height: 200px;
            }
        }
    }
}

@media screen and (min-width: 576px) and (max-width: 768px){
    .teacher-card{
        .image-container{
            img{
                height: 180px;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 992px){
    .teacher-card{
        .image-container{
            img{
                height: 180px;
            }
        }
    }
}

@media screen and (min-width: 992px){
    .teacher-card{
        .image-container{
            img{
                height: 250px;
            }
        }
    }
}