.teacher-profile-page-container{
    .cover{
        background-image: url('../../assets/images/profile.jpg');
        .button-container{
            padding-top: 16px;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            .message-button, .lesson-button{
                width: 120px! important;
            }
            .message-button{
                margin-right: 10px;
                .chakra-button{
                    background-color: #f05945;
                    color: #fff;
                }
            }
            .lesson-button{
                .chakra-button{
                    background-color: #0e49b5;
                    color: #fff;
                }
            }
        }
    }
    .personel-container{
        .text-container{
            display: flex;
            flex-direction: row;
            align-items: center;
            .edit-container{
                .image-container{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #fff;
                    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                    border-radius: 6px;
                    width: 100%;
                    height: 100%;
                    img{
                        object-fit: cover;
                        width: 94%;
                        height: 94%;
                    }
                }
                .chakra-button{
                    margin-top: 6px;
                    background-color: #fff;
                }
            }
            .name-container{
                color: #fff;
                .name{
                    font-weight: 600;
                }
            }
        }
        .numeric-container{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            .content{
                display: flex;
                flex-direction: row;
                .item{
                    text-align: center;
                    .item-header{
                        font-weight: 600;
                    }
                }
            }
        }
    }
    .header{
        font-weight: 600;
    }
    .about-container{
        .about-info, .lessons-info{
            background-color: #f8f9fa;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        }
        ul{
            padding-left: 20px;
        }
    }
    .students-comments-container{
        .chakra-button{
            background-color: #457b9d;
            color: #fff;
        }
    }
    .edit-container{
        .update-profile-picture-container{
            display: flex;
            flex-direction: row;
            align-items: center;
            .image-container{
                width: 120px;
                height: 120px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .image-upload{
                width: 150px! important;
                .chakra-button{
                    background-color: #007ea7;
                    color: #fff;
                }
            }
            #upload-button{
                display: none;
            }
        }
        .save-button{
            .chakra-button{
                background-color: #0e49b5;
                color: #fff;
            }
        }
    }
}

@media screen and (max-width: 576px){
    .teacher-profile-page-container{
        margin-top: 62px;
        .cover{
            height: 160px;
            .button-container{
                .message-button, .lesson-button{
                    width: 100px! important;
                    .chakra-button{
                        font-size: 12px;
                    }
                }
            }
        }
        .personel-container{
            .text-container{
                position: absolute;
                margin-top: -100px;
                .edit-container{
                    width: 120px;
                    height: 120px;
                    margin-right: 10px;
                }
                .name-container{
                    .name{
                        font-size: 16px;
                    }
                    .job{
                        font-size: 12px;
                    }
                }
            }
            .numeric-container{
                padding: 20px 0;
                .content{
                    .item{
                        margin-left: 14px; 
                        .number{
                            font-size: 12px;
                        }
                    }
                }
            }
        }
        .about-container{
            .lessons-info{
                margin-top: 20px;
            }
        }
        .edit-container{
            .personal-update{
                padding-bottom: 20px;
            }
        }
    }
}

@media screen and (min-width: 576px) and (max-width: 768px){
    .teacher-profile-page-container{
        margin-top: 62px;
        .cover{
            height: 160px;
        }
        .personel-container{
            .text-container{
                position: absolute;
                margin-top: -110px;
                .edit-container{
                    width: 140px;
                    height: 140px;
                    margin-right: 20px;
                }
                .name-container{
                    .name{
                        font-size: 20px;
                    }
                    .job{
                        font-size: 14px;
                    }
                }
            }
            .numeric-container{
                padding: 20px 0;
                .content{
                    .item{
                        margin-left: 14px;
                        .item-header{
                            font-size: 18px;
                        }
                        .number{
                            font-size: 12px;
                        }
                    }
                }
            }
        }
        .about-container{
            .lessons-info{
                margin-top: 20px;
            }
        }
        .edit-container{
            .personal-update{
                padding-bottom: 30px;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 992px){
    .teacher-profile-page-container{
        margin-top: 75.2px;
        .cover{
            height: 220px;
        }
        .personel-container{
            .text-container{
                position: absolute;
                margin-top: -136px;
                .edit-container{
                    width: 180px;
                    height: 180px;
                    margin-right: 20px;
                }
                .name-container{
                    .name{
                        font-size: 20px;
                    }
                    .job{
                        font-size: 14px;
                    }
                }
            }
            .numeric-container{
                padding: 30px 10px;
                .content{
                    .item{
                        margin-left: 22px;
                        .item-header{
                            font-size: 20px;
                        }
                        .number{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        .about-container{
            .lessons-info{
                margin-top: 20px;
            }
        }
    }
}

@media screen and (min-width: 992px){
    .teacher-profile-page-container{
        margin-top: 75.2px;
        .cover{
            height: 220px;
        }
        .personel-container{
            .text-container{
                position: absolute;
                margin-top: -144px;
                .edit-container{
                    width: 200px;
                    height: 200px;
                    margin-right: 20px;
                }
                .name-container{
                    .name{
                        font-size: 20px;
                    }
                    .job{
                        font-size: 14px;
                    }
                }
            }
            .numeric-container{
                padding: 30px 10px;
                .content{
                    .item{
                        margin-left: 22px;
                        .item-header{
                            font-size: 22px;
                        }
                        .number{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        .header{
            font-size: 18px;
        }
    }
}
