.css-q7rpbt{
    &:focus{
        box-shadow: none! important;
    }
}

.chakra-modal__content{
    .text-bold{
        font-weight: 600;
    }
    .chakra-modal__body{
        .sub-text{
            margin-bottom: 10px;
        }
        .point{
            display: flex;
            margin-bottom: 10px;
            & > * {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 30px;
                margin-right: 6px;
                border-radius: 100%;
                cursor: pointer;
            }
            .active{
                background-color: #488bf8;
                color: #fff;
            }
        }
    }
    .chakra-modal__footer{
        .confirm-button, .send-button{
            width: 120px! important;
        }
        .send-button{
            margin-left: 10px;
            .chakra-button{
                background-color: #488bf8;
                color: #fff;
            }
        }
    }
}