.chakra-modal__content{
    .chakra-modal__footer{
        .confirm-button, .cancel-button{
            width: 120px! important;
        }
        .confirm-button{
            margin-left: 10px;
            .chakra-button{
                background-color: #488bf8;
                color: #fff;
            }
        }
    }
}