.empty-page-container{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .detail{
        display: flex;
        flex-direction: column;
        align-items: center;
        .chakra-button{
            background-color: #5c6ac4;
            color: #fff;
        }
    }
}

@media screen and (max-width: 576px){
    .empty-page-container{
        .detail{
            img{
                width: 220px;
            }
        }
    }
}

@media screen and (min-width: 576px) and (max-width: 768px){
    .empty-page-container{
        .detail{
            img{
                width: 300px;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 992px){
    .empty-page-container{
        .detail{
            img{
                width: 300px;
            }
        }
    }
}

@media screen and (min-width: 992px){
    .empty-page-container{
        .detail{
            img{
                width: 300px;
            }
        }
    }
}