.navbar{
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    background-color: #fff;
    padding-top: 12px;
    padding-bottom: 12px;
    .navbar-brand{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-weight: 600;
        img{
            width: 36px;
            height: 36px;
            margin-right: 6px;
        }
        .navbar-brand-text{
            font-size: 24px;
        }
    }
    .nav-link{
        color: #000! important;
        transition: all .3s ease;
        font-weight: 400;
        font-size: .9em;
    }
    .notification{
        &::after{
            content: '';
            display: inline-block;
            width: 4px;
            height: 4px;
            border-radius: 100%;
            background-color: #e40017;
            position: absolute;
            margin-left: 4px;
        }
    }
    .navbar-toggler{
        border: none;
        .navbar-toggler-icon{
            font-size: 18px;
        }
    }
    .dropdown-toggle{
        display: flex;
        flex-direction: row;
        align-items: center;
        .navbar-dropdown-name{
            display: flex;
            flex-direction: row;
            align-items: center;
            .image-container{
                width: 30px;
                height: 30px;
                border-radius: 100%;
                margin-right: 6px;
                .profile-image{
                    width: 100%;
                    height: 100%;
                    border-radius: 100%;
                    object-fit: cover;
                }
            }
            .navbar-name{
                margin-right: 4px;
            }
        }
        &::after{
            vertical-align: .15em! important;
        }
    }
    .dropdown-menu{
        border: none;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        transition: all .5s ease;
        right: 0px;
        .dropdown-item{
            font-weight: 400;
            font-size: .9em;
            padding-top: 6px;
            padding-bottom: 6px;
            &:active{
                background-color: #fff;
                color: #000! important;
            }
        }
    }
}

@media screen and (min-width: 992px){
    .navbar{
        .navbar-nav{
            align-items: center;
        }
        .nav-link{
            padding-left: 1rem! important;
        }
    }
}