.chakra-input{
    &:focus{
        box-shadow: none! important;
        border-color: inherit! important;
        outline: none! important;
    }
}
    
.chakra-input__right-element{
    &:hover{
        cursor: pointer;
    }
}

.css-5eg1yd{
    border: none! important;
}