.signup-page-container{
    padding-top: 70px;
    width: 100%;
    min-height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .form-content{
        height: 100%;
        margin: 60px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .type-container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            .type-item{
                display: flex;
                flex-direction: column;
                border: 1px solid transparent;
                width: 44%;
                padding: 20px;
                p{
                    font-size: 14px;
                }
                &:hover{
                    cursor: pointer;
                }
            }
            .active{
                border-color: #488bf8;
                border-width: 2px;
            }
        }
        .form{
            display: flex;
            flex-direction: column;
            .full-name-container{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                & > *{
                    width: 48%! important;
                }
            }
            .submit-button{
                .chakra-button{
                    background-color: #488bf8;
                    color: #fff;
                }
            }
        }
    }
}

@media screen and (max-width: 576px){
    .signup-page-container{
        .form-content{
            width: 90%;
            height: 90%;
        }
    }
}

@media screen and (min-width: 576px) and (max-width: 768px){
    .signup-page-container{
        .form-content{
            width: 400px;
            height: 90%;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 992px){
    .signup-page-container{
        .form-content{
            width: 400px;
            height: 90%;
            max-height: 620px;
        }
    }
}

@media screen and (min-width: 992px){
    .signup-page-container{
        .form-content{
            width: 440px;
            height: 80%;
            max-height: 660px;
        }
    }
}