.teacher-profile-page-container{
    padding-top: 70px;
    min-height: 80vh;
    .profile-container{
        width: 100%;
        padding-bottom: 40px;
        background-color: #fff;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        .personal-info-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            .image-container{
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 100%;
                background-color: #fff;
                img{
                    width: 96%;
                    height: 96%;
                    border-radius: 100%;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
                    object-fit: cover;
                }
            }
            .name-container{
                .name{
                    font-weight: 500;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    .status{
                        width: 8px;
                        height: 8px;
                        border-radius: 100%;
                        display: block;
                    }
                    .status-0{
                        background-color: #ccc;
                    }
                    .status-1{
                        background-color: #1e6f5c;
                    }
                    .status-2{
                        background-color: #e48900;
                    }
                }
                .job{
                    display: flex;
                    flex-direction: row;
                }
            }
            .numeric-info-container{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .item{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .item-number{
                        font-weight: 500;
                    }
                }
            }
            .button-container{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                & > *{
                    width: 48%! important;
                }
                .send-message-button{
                    .chakra-button{
                        background-color: #488bf8;
                        color: #fff;
                    }
                }
                .lesson-button{
                    .chakra-button{
                        background-color: #0e49b5;
                        color: #fff;
                    }
                }
            }
        }
    }
    .profile-other-container{
        .student-comments-container{
            .comments-title{
                font-weight: 500;
            }
            .load-more-button{
                .chakra-button{
                    background-color: #488bf8;
                    color: #fff;
                }
            }
        }
        .similar-instructors{
            .similar-title{
                font-weight: 500;
            }
            .instructors-container{
                background-color: #fff;
                box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
                padding: 0 10px;
                .instructor{
                    display: flex;
                    flex-direction: row;
                    padding: 12px 2px;
                    border-bottom: 1px solid #eee;
                    .image-container{
                        margin-right: 8px;
                        width: 56px;
                        height: 56px;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 100%;
                            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                        }
                    }
                    .text-container{
                        display: flex;
                        flex-direction: column;
                        .sub-text{
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 576px){
    .teacher-profile-page-container{
        .profile-container{
            margin-top: 80px;
            .personal-info-container{
                .image-container{
                    height: 100px;
                    width: 100px;
                    margin-top: -50px;
                }
                .name-container{
                    .name{
                        font-size: 1.2rem;
                    }
                    .job{
                        font-size: .9rem;
                    }
                }
                .numeric-info-container{
                    width: 260px;
                }
                .button-container{
                    width: 260px;
                }
                .about-container{
                    width: 90%;
                    text-align: center;
                }
            }
        }
        .profile-other-container{
            display: flex;
            flex-direction: column;
            .comments-title, .similar-title{
                font-size: 1rem;
            }
        }
    }
}

@media screen and (min-width: 576px) and (max-width: 768px){
    .teacher-profile-page-container{
        .profile-container{
            margin-top: 80px;
            .personal-info-container{
                .image-container{
                    height: 120px;
                    width: 120px;
                    margin-top: -60px;
                }
                .name-container{
                    .name{
                        font-size: 1.2rem;
                    }
                    .job{
                        font-size: .9rem;
                    }
                }
                .numeric-info-container{
                    width: 260px;
                }
                .button-container{
                    width: 260px;
                }
                .about-container{
                    width: 90%;
                    text-align: center;
                }
            }
        }
        .profile-other-container{
            display: flex;
            flex-direction: column;
            .student-comments-container{
                width: 100%;
            }
            .comments-title, .similar-title{
                font-size: 1rem;
            }
            .similar-instructors{
                width: 100%;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 992px){
    .teacher-profile-page-container{
        .profile-container{
            margin-top: 100px;
            .personal-info-container{
                .image-container{
                    height: 140px;
                    width: 140px;
                    margin-top: -70px;
                }
                .name-container{
                    .name{
                        font-size: 1.2rem;
                    }
                    .job{
                        font-size: .9rem;
                    }
                }
                .numeric-info-container{
                    width: 300px;
                }
                .button-container{
                    width: 300px;
                }
                .about-container{
                    width: 90%;
                    text-align: center;
                }
            }
        }
        .profile-other-container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .student-comments-container{
                width: calc(100% - 290px);
                margin-bottom: 20px;
            }
            .comments-title, .similar-title{
                    font-size: 1rem;
            }
            .similar-instructors{
                width: 260px;
            }
        }
    }
}

@media screen and (min-width: 992px){
    .teacher-profile-page-container{
        .profile-container{
            margin-top: 100px;
            .personal-info-container{
                .image-container{
                    height: 160px;
                    width: 160px;
                    margin-top: -80px;
                }
                .name-container{
                    .name{
                        font-size: 1.3rem;
                    }
                }
                .numeric-info-container{
                    width: 300px;
                }
                .button-container{
                    width: 300px;
                }
                .about-container{
                    width: 85%;
                    text-align: center;
                }
            }
        }
        .profile-other-container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .student-comments-container{
                width: calc(100% - 290px);
                margin-bottom: 20px;
            }
            .comments-title, .similar-title{
                    font-size: 1.1rem;
            }
            .similar-instructors{
                width: 260px;
            }
        }
    }
}