.lesson-filter-page-container{
    margin-top: 72px;
    .status-container{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        .item{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-left: 6px;
            .status{
                width: 8px;
                height: 8px;
                border-radius: 100%;
                display: block;
                margin-right: 4px;
            }
            .status-0{
                background-color: #ccc;
            }
            .status-1{
                background-color: #1e6f5c;
            }
            .status-2{
                background-color: #e48900;
            }
            &:hover{
                cursor: pointer;
            }
        }
    }
    .teachers-container{
        .teachers-list{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
    .pagination-container{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        .page-link{
            &:focus{
                box-shadow: none! important;
            }
        }
    }
}

@media screen and (max-width: 576px){
    .lesson-filter-page-container{
        .chakra-heading{
            font-size: 17px;
        }
        .teachers-container{
            .teachers-list{
                & > *{
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (min-width: 576px) and (max-width: 768px){
    .lesson-filter-page-container{
        .teachers-container{
            .teachers-list{
                & > *{
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .lesson-filter-page-container{
        .teachers-container{
            .teachers-list{
                & > *{
                    width: 48%;
                }
            }
        }
    }
}