.homepage-container{
    margin-top: 70px;
    .instructors-container{
        .instructors-list{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        .load-more-instructor-button{
            .chakra-button{
                background-color: #457b9d;
                color: #fff;
            }
        }
    }   
    .students-comments-container{
        background: #C9D6FF;  
        background: -webkit-linear-gradient(to left, #E2E2E2, #C9D6FF); 
        background: linear-gradient(to left, #E2E2E2, #C9D6FF);
    }
    .numeric-info-container{
        .numeric-list{
            & > *{
                background-color: #f9f9ff;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
}

@media screen and (max-width: 576px){
    .homepage-container{
        .instructors-container, .students-comments-container, .numeric-info-container{
            padding-bottom: 40px;
        }
        .title-container{
            padding: 40px 0 20px 0;
        }
        .instructors-container{
            .instructors-list > *{
                width: 46%;
            }
        }
        .students-comments-container{
            .comments-list{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                & > *{
                    width: 100%;
                }
            }
        }
        .numeric-info-container{
            .numeric-list{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                & > *{
                    width: 80%;
                    padding: 20px;
                    margin-bottom: 20px;
                    img{
                        height: 140px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 576px) and (max-width: 768px){
    .homepage-container{
        .instructors-container, .students-comments-container, .numeric-info-container{
            padding-bottom: 40px;
        }
        .title-container{
            padding: 40px 0 20px 0;
        }
        .instructors-container{
            .instructors-list > *{
                width: 31%;
            }
        }
        .students-comments-container{
            .comments-list{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                & > *{
                    width: 100%;
                }
            }
        }
        .numeric-info-container{
            .numeric-list{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                & > *{
                    width: 80%;
                    padding: 30px;
                    margin-bottom: 20px;
                    img{
                        height: 180px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 992px){
    .homepage-container{
        .instructors-container, .students-comments-container, .numeric-info-container{
            padding-bottom: 60px;
        }
        .title-container{
            padding: 60px 0 30px 0;
        }
        .instructors-container{
            .instructors-list > *{
                width: 23%;
            }
        }
        .students-comments-container{
            .comments-list{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                column-gap: 20px;
                & > *{
                    width: 45%;
                }
            }
        }
        .numeric-info-container{
            .numeric-list{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                & > *{
                    width: 32%;
                    padding: 40px;
                }
            }
        }
    }
}

@media screen and (min-width: 992px){
    .homepage-container{
        /*
        .instructors-container, .students-comments-container, .numeric-info-container{
            padding-top: 80px;
            padding-bottom: 80px;
        }
        */
        .instructors-container, .students-comments-container, .numeric-info-container{
            padding-bottom: 80px;
        }
        .title-container{
            padding: 80px 0 40px 0;
        }
        .instructors-container{
            .instructors-list > *{
                width: 22%;
            }
        }
        .students-comments-container{
            .comments-list{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                & > *{
                    width: 32%;
                }
            }
        }
        .numeric-info-container{
            .numeric-list{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                & > *{
                    width: 32%;
                    padding: 40px;
                    img{
                        height: 160px;
                    }
                }
            }
        }
    }
}