.lessons-page-container{
    margin-top: 70px;
    min-height: 80%;
    .container{
        min-height: 80vh;
        .empty-page-container, .spinner-container{
            margin-top: 50px;
        }
        .lessons{
            padding-bottom: 20px;
            .table{
                background-color: #fff;
                th{
                    font-weight: 600;
                }
                td, th{
                    vertical-align: inherit;
                    white-space: nowrap;
                }
            }
            .pointer{
                cursor: pointer;
                &:hover{
                    color: #0056b3;
                    text-decoration: underline;
                }
            }
            .pagination-container{
                display: flex;
                justify-content: flex-end;
                .page-link{
                    color: #000;
                    &:focus{
                        box-shadow: none! important;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 576px){
    .lessons-page-container{
        .lessons{
            overflow-x: scroll;
        }
    }
}

@media screen and (min-width: 576px) and (max-width: 768px){
    .lessons-page-container{
        .lessons{
            overflow-x: scroll;
            .table{
                th{
                    width: 200px;
                }
            }
        }
    }
}
