.css-1h7v26a{
    &:focus{
        box-shadow: none! important;
    }
}

.chakra-button{
    font-weight: 500! important;
    font-size: .9em! important;
    &:hover{
        text-decoration: none;
    }
}