.title{
    font-weight: 600;
}

.sub-title{
    font-weight: 500;
}

@media screen and (max-width: 576px){
    .title{
        font-size: 22px;       
    }
    .sub-title{
        font-size: 14px; 
    }
    .text{
        font-size: 14px;
    }
    .sub-text{
        font-size: 12px;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px){
    .title{
        font-size: 26px;       
    }
    .sub-title{
        font-size: 16px; 
    }
    .text{
        font-size: 15px;
    }
    .sub-text{
        font-size: 13px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px){
    .title{
        font-size: 26px;       
    }
    .sub-title{
        font-size: 18px; 
    }
    .text{
        font-size: 15px;
    }
    .sub-text{
        font-size: 13px;
    }
}

@media screen and (min-width: 992px){
    .title{
        font-size: 30px;       
    }
    .sub-title{
        font-size: 18px; 
    }
    .text{
        font-size: 16px;
    }
    .sub-text{
        font-size: 13px;
    }
}