.message-page-container{
    padding-top: 70px;
    .container{
        height: 100%;
        .row{
            height: 100%;
            padding-top: 10px;
            .messages-list{
                height: 100%;
                overflow-y: scroll;
                &::-webkit-scrollbar-track {
                    padding: 2px 0;
                    background-color: #ddd;
                }
                &::-webkit-scrollbar {
                    width: 3px;
                }
                &::-webkit-scrollbar-thumb {
                    border-radius: 10px;
                    background-color: #aaa;
                }
            }
            .messages-detail-list{
                height: 100%;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 992px){
    .message-page-container{
        height: calc(100vh - 30px);
        max-height: 800px;
    }
}

@media screen and (min-width: 992px){
    .message-page-container{
        max-height: 900px;
        height: calc(100vh - 20px);
    }
}