.settings-page-container{
    padding-top: 70px;
    min-height: 80vh;
    .settings-container{
        width: 100%;
        margin: 30px 0;
        min-height: 50vh;
        background-color: #fff;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        .menu{
            display: flex;
            flex-direction: column;
            list-style: none;
            .menu-item{
                padding: 6px 16px;
                display: flex;
                flex-direction: row;
                align-items: center;
                flex-wrap: wrap;
                .list-icon{
                    margin-right: 6px;
                }
                &:hover{
                    cursor: pointer;
                }
            }
            .active{
                background-color: #ddd;
            }
        }
        .form-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            .image-update-container{
                .image-container{
                    img{
                        margin: auto;
                        object-fit: cover;
                        border-radius: 100%;
                        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
                    }
                }
                .image-input{
                    width: 100%;
                }
            }
            .save-button{
                .chakra-button{
                    background-color: #488bf8;
                    color: #fff;
                }
            }
            .delete-button{
                .chakra-button{
                    background-color: #be0000;
                    color: #fff;
                }
            }
        }
    }
}

@media screen and (max-width: 576px){
    .settings-page-container{
        .settings-container{
            display: flex;
            flex-direction: column;
            margin: 20px 0;
            .menu{
                border-bottom: 1px solid #ccc;
                .image-container{
                    padding-bottom: 20px;
                    img{
                        width: 120px;
                        height: 120px;
                    }
                }
            }
            .form-container{
                padding: 20px 0;
                form{
                    width: 90%;
                    .image-update-container{
                        .image-container{
                            img{
                                width: 120px;
                                height: 120px;
                            }
                        }
                    }
                }
                .remove-account-container{
                    width: 90%;
                }
            }
        }
    }
}

@media screen and (min-width: 576px) and (max-width: 768px){
    .settings-page-container{
        .settings-container{
            display: flex;
            flex-direction: row;
            .menu{
                width: 154px;
                border-right: 1px solid #ccc;
                .image-container{
                    padding-bottom: 20px;
                    img{
                        width: 90px;
                        height: 90px;
                    }
                }
            }
            .form-container{
                width: calc(100% - 154px);
                padding: 20px 0;
                form{
                    width: 280px;
                    .image-update-container{
                        .image-container{
                            img{
                                width: 90px;
                                height: 90px;
                            }
                        }
                    }
                }
                .remove-account-container{
                    width: 280px;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 992px){
    .settings-page-container{
        .settings-container{
            display: flex;
            flex-direction: row;
            .menu{
                width: 180px;
                border-right: 1px solid #ccc;
                .image-container{
                    padding-bottom: 20px;
                    img{
                        width: 120px;
                        height: 120px;
                    }
                }
            }
            .form-container{
                width: calc(100% - 180px);
                padding: 20px 0;
                form{
                    width: 360px;
                    .image-update-container{
                        .image-container{
                            img{
                                width: 120px;
                                height: 120px;
                            }
                        }
                    }
                }
                .remove-account-container{
                    width: 360px;
                }
            }
        }
    }
}

@media screen and (min-width: 992px){
    .settings-page-container{
        .settings-container{
            display: flex;
            flex-direction: row;
            .menu{
                width: 240px;
                border-right: 1px solid #ccc;
                .image-container{
                    padding-bottom: 20px;
                    img{
                        width: 140px;
                        height: 140px;
                    }
                }
            }
            .form-container{
                width: calc(100% - 240px);
                padding: 20px 0;
                form{
                    width: 480px;
                    .image-update-container{
                        .image-container{
                            img{
                                width: 140px;
                                height: 140px;
                            }
                        }
                    }
                }
                .remove-account-container{
                    width: 480px;
                }
            }
        }
    }
}