.top-content-container{
    background-image: url('../../assets/images/filter.jpg');
    background-size: 100% 100%;
    .overlay{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        background: rgba(0, 0, 0, .6);
        .top-filter{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .header{
                font-size: 24px;
                color: #fff;
            }
            .chakra-button{
                background-color: #0e49b5;
                color: #fff;
            }
        }
        .top-image{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 90%;
                height: 90%;
            }
        }
    }
}

@media screen and (max-width: 576px){
    .top-content-container{
        height: 320px;
        .overlay{
            .top-filter{
                padding: 10px 0 10px 0;
                .header{
                    font-size: 18px;
                }
            }
        }
    }
}

@media screen and (min-width: 576px) and (max-width: 768px){
    .top-content-container{
        height: 350px;
        .top-filter{
            padding-top: 20px;
            padding-bottom: 10px;
        }
    }
}


@media screen and (min-width: 768px) and (max-width: 992px){
    .top-content-container{
        height: 350px;
    }
}

@media screen and (min-width: 992px){
    .top-content-container{
        height: 480px;
    }
}